<% provide(:title, 'Lista kodów PKD') %>
<h1>Lista kodów PKD</h1>

 


<%= will_paginate :previous_label => t("previous_label"), :next_label => t("next_label") %>

	<table class="table table-striped pkd">
		<tr>
			<th style="width: 10%"><%= sort_link(@search, :pkd_id, "Kod PKD") %></th> 
			<th ><%= sort_link(@search, :pkd_name, "Nazwa PKD") %></th>
			<th style="width: 35%"><%= sort_link(@search, :branch, "Branża") %></th>
		</tr>
  		<% @pkds.each do |pkd| %>
    		<%= render pkd %>
  		<% end %>
	</table>

<%= will_paginate :previous_label => t("previous_label"), :next_label => t("next_label") %>

<p><b>Filtrowanie tabeli PKD</b></p>
<div class="row">

 <%= search_form_for @search do |r| %>	
  <div class="span2 pkd">
		<%= r.label :pkd_id_cont, "Kod PKD zawiera:" %>
  		<%= r.search_field :pkd_id_cont %>
  </div>  
  
   <div class="span2 pkd">
		<%= r.label :pkd_name_cont, "Nazwa PKD zawiera:" %>
  		<%= r.search_field :pkd_name_cont %>		
  </div>  
   <div class="span2 pkd">
		<%= r.label :branch_cont, "Branża zawiera:" %>
  		<%= r.search_field :branch_cont %>  
  </div>  
  <div class="span12 pkd">
 	<%= r.submit "Wyszukaj",class: "btn btn-primary" %>
 	<%= link_to "Zeruj wyszukiwanie", pkds_path, class: "btn btn-primary" %> 
  </div>
 <% end %> 
</div> 