<tr>
	
  <td>
  	<%= user.login %>
  
  <td>
  	<%= user.forename%>
  </td>
  <td>
  	<%= user.name%>
  </td>
  <td>
  	<%= user.email%>
  </td>
  <td>
  	<%if user.admin%>
  		TAK
  	<%else%>
  		NIE
  	<%end%>
  </td>	
  <td>
	<%= link_to "edytuj", edit_user_path(user) %>
 <!-- 	<%= link_to user.login, user %> -->
  </td>
  <td>
  	<% if current_user.admin? && !current_user?(user) %>
    <%= link_to "kasuj", user, method: :delete,
                                  data: { confirm: "Na pewno chcesz skasować?" } %>
 	 <% end %>
  </td>	
  
  

</tr>