<tr>
	
  <td>
  	<%= link_to user.login, user %>
  
  <td>
  	<%= user.forename%>
  </td>
  <td>
  	<%= user.name%>
  </td>
  <td>
  	<%= user.email%>
  </td>
  <td>
  	<% if current_user.admin? && !current_user?(user) %>
    <%= link_to "kasuj", user, method: :delete,
                                  data: { confirm: "Na pewno chcesz skasować?" } %>
 	 <% end %>
  </td>	
  

</tr>