<% provide(:title, "Edycja użytkownika") %>
<h1>Modyfikacja danych użytkownika</h1>

<div class="row">
  <div class="span6 offset3">
  	<p>Modyfikacja użytkownika o loginie: <i> <b class="user-color"><%=@user.login%></b></p></i> 
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

	  <%= f.label :login,"login" %>
  <!--    <%= f.text_field :login  %>  -->
      <%= f.text_field :login,  disabled: 'disabled' %>

	  <%= f.label :forename,"imię" %>
      <%= f.text_field :forename %>

      <%= f.label :name,"nazwisko" %>
      <%= f.text_field :name %>

      <%= f.label :email ,"adres e-mial"%>
      <%= f.text_field :email %>
      
      
      
      <% if current_user.admin? %>
      		<%= f.label :admin ,"uprawnienia kierownika"%>
      		<%= f.select :admin, [['TAK', true], ['NIE', false]] %>
      <%end%>
      

      <%= f.label :password,"hasło"  %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Potwierdzenie hasła" %>
      <%= f.password_field :password_confirmation %> 

      <%= f.submit "Zapisz zmiany", class: "btn btn-large btn-primary" %>
      <%= link_to "Anuluj zmiany", users_path, class: "btn btn-large btn-primary" %>
    <% end %>


  </div>
</div>
