<% provide(:title, @user.name) %>
<h1>Informacje o Użytkowniku</h1>

<div class="row">
  <div class="span6">
	<b><i>Login:</i></b>
  </div>
  <div class="span6">
	<%= @user.login %>
  </div>
</div>  
<div class="row">
  <div class="span6">
	<b><i>Imię:</i></b>
  </div>
  <div class="span6">
	<%= @user.forename %>
  </div>
</div>  
<div class="row">
  <div class="span6">
	<b><i>Nazwisko:</i></b> 
  </div>
  <div class="span6">
	<%= @user.name %>
  </div>
</div>  
<div class="row">
  <div class="span6">
	<b><i>Adres e-mail:</i></b>
  </div>
  <div class="span6">
	<%= @user.email %>
  </div>
</div> 
<div class="row">
  <div class="span6">
	<b><i>Uprawnienia administratora?</i></b> 
  </div>
  <div class="span6">
	<% if @user.admin? %> TAK <%else%> NIE <%end%>
  </div>
</div> 
<div class="row">
  <div class="span6">
	<b><i>Uprawnienia kierownika?</i></b> 
  </div>
  <div class="span6">
	<% if @user.kiera? %> TAK <%else%> NIE <%end%>
  </div>
</div> 
<p style="padding-top:20px"><%= link_to "Edytuj dane", edit_user_path(current_user), class: "btn btn-large btn-primary" %></p>



       
       
  