<tr>
	
  <td>
  	<%= check.name+' '+check.forename %>
  
  <td>
  	<%= check.org_name%>
  </td>
  <td>
  	<%= check.pesel%>
  </td>
  <td>
  	<%= check.nip%>
  </td>
  <td>
  	<%= check.score%>
  </td>
  <td>
  	<% if check.level=='NISKI'%>
  	NISKIE
  	<% elsif check.level=='ŚREDNI'%> 
  	ŚREDNIE
  	<% else%>
  	WYSOKIE
  	<% end %>
  	
  </td>
  <td>
  	<%= check.created_at.strftime('%F') %>
  </td>
  <td>
  	<%= link_to "podgląd", check %>
  </td>
  <td>
  	<% if current_user.admin? ||  current_user.kiera? %>
    <%= link_to "kasuj", check, method: :delete, data: { confirm: "Na pewno chcesz skasować?" } %>
    <% end %>
  </td>	
    

</tr>