<% provide(:title, 'Analiza') %>
<h1>Dane podatnika</h1>

<%= form_for(@check, id: "check_form") do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
<div class="row">
  <div class="span4">
	  <%= f.label :nip,"numer NIP" %>
      <%= f.text_field :nip %>
  </div>
  
  <div class="span4">
	  <%= f.label :pesel,"numer PESEL" %>
      <%= f.text_field :pesel %>
  </div>
  
  <div class="span4">
	  <%= f.label :regon,"numer REGON" %>
      <%= f.text_field :regon %>
  </div>
</div>  

<div class="row">
  <div class="span4">          
	  <%= f.label :forename,"imię" %>
      <%= f.text_field :forename %>     
  </div>
  
  <div class="span4">
      <%= f.label :name,"nazwisko" %>
      <%= f.text_field :name %>
  </div>	
</div>

<div class="row">
  <div class="span12">
	  <%= f.label :org_name,"nazwa organizacji" %>
      <%= f.text_field :org_name %>
  </div>
</div>

<div class="row">
  <div class="span4">
	  <%= f.label :city,"miasto" %>
      <%= f.text_field :city %>
  </div>    
  
  <div class="span4">        
      <%= f.label :postal_code,"kod pocztowy" %>
      <%= f.text_field :postal_code %>
  </div>    
</div>  
      
<div class="row">
  <div class="span4">           
      <%= f.label :street,"ulica" %>
      <%= f.text_field :street %>
  </div>
  <div class="span4">   
      <%= f.label :home_no,"numer domu" %>
      <%= f.text_field :home_no %>
  </div>
  <div class="span4"> 
      <%= f.label :flat_no,"numer mieszkania" %>
      <%= f.text_field :flat_no %>
  </div>
</div>  

<div class="row">
  <div class="span8">
	  <%#= f.label :pkd_full,"kod oraz opis PKD" %>
      <%#= f.select :pkd_full,@pkds.all.map {|u| [u.description]}, {prompt: "wybierz PKD"} , id: "pkd_field"%>

      <%= f.label :pkd_description,"kod oraz opis PKD" %>
      <%= f.text_field :pkd_description, data: {autocomplete_source: autocomplete_path}%>  
  </div>

  
  
  <div class="span4">
	  <%= f.label :branch,"branża" %>
	  <%= f.text_field :branch, readonly: true %>  
 
  </div>
</div>

<h1>Kryteria - rodzaje analizowanej informacji </h1>

<div class="row">
  <div class="span12">
	<table class="table">
		<tr style="background: #eaeaea">
			<th>
				Opis
			</th>
			<th style="width: 10%">
				Siła 
			</th>
			<th style="width: 10%">
				Odpowiedź
			</th>				
		</tr>
		
		<%= f.fields_for :answers do |builder| %>
		<tr>
			<td>
     		    <%= builder.hidden_field :q_description %>
     		    <%= builder.object.q_description%>
			</td>
			<td>
     		    <%= builder.hidden_field :q_strength %>	
     		    <b><%= builder.object.q_strength%></b>
			</td>
			<td>				
				<% builder.label :q_answer,"Kryterium:" %>
     		    <%= builder.select :q_answer, [['TAK', true], ['NIE', false]] %>
			</td>	
	 		 	
		</tr>
		<% end %>

	</table>
  </div>
</div>





<div class="row">
	<div class="span8">
      <%= f.submit "Zatwierdź analizę", class: "btn btn-large btn-primary" %>
      <%= link_to "Anuluj", checks_path, class: "btn btn-large btn-primary" %>
    </div>
  </div>
 
<% end %>