	<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container aplogo">
         <div class="logoname"> <%= link_to "Karta Oceny Ryzyka Rejestracji Podmiotów", '#', id: "logo" %></div>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Strona Startowa",    root_path %></li>
              <li><%= link_to "Słownik PKD",    pkds_path %></li>
              <li><%= link_to "Pomoc",    help_path %></li>
              
              

               <% if signed_in? %>
					<li><%= link_to "Lista analiz", checks_path %></li>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Konto Użytkownika <b class="user-color"><%= current_user.login  %></b>  <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profil użytkownika ", current_user %></li>
							<li><%= link_to "Edycja konta", edit_user_path(current_user) %></li>
							<li><%= link_to "Nowa analiza", new_check_path %></li>
							<li class="divider"></li>
							<% if current_user.admin? %>
								<li><%= link_to "Użytkownicy", users_path %></li>
								<li><%= link_to "Lista kryteriów", questions_path %></li>
								<li><%= link_to "Określ przedziały", levels_path %></li>
								<li class="divider"></li>
							<%end%>							
							<li>
              				    <%= link_to "Wyloguj", signout_path, method: "delete" %>
              				</li>
              			 </ul>
              		</li>
              <% else %>
              <li><%= link_to "Zaloguj", signin_path %></li>
              <% end %>

              
            </ul>
          </nav>
        </div>
      </div>
    </header>